@page "/console/product/create"
@layout ConsoleLayout
@rendermode InteractiveServer
@inject GenericDataService<CatalogContext> catalogService
@inject NavigationManager Navigation
@using DataFormulaLibrary.Models.Product
<div class="console-actions">
    <h2>Create product</h2>
    <button type="submit" form="create-product" @onclick="() => continueEditing = false">Save</button>
    <button type="submit" form="create-product" @onclick="() => continueEditing = true">Save and Continue Edit</button>
</div>
<EditForm id="create-product" Model="model" OnSubmit="CreateProduct">
    <details open>
        <summary>Product Information</summary>
        <div class="product-info">
            <div>
                <input type="text" placeholder="Name" @bind="model.Product.Name" />
                <ValidationMessage For="@(() => model.Product.Name)" />
                <input type="text" placeholder="Description" @bind="model.Product.Description" />
                <ValidationMessage For="@(() => model.Product.Description)" />
                <input type="text" placeholder="Short description" @bind="model.Product.ShortDescription" />
                <ValidationMessage For="@(() => model.Product.ShortDescription)" />
            </div>
            <div>
                <input type="number" placeholder="Cost" @bind="model.Product.Cost" />
                <ValidationMessage For="@(() => model.Product.Cost)" />
                <input type="number" placeholder="Price" @bind="model.Product.Price" />
                <ValidationMessage For="@(() => model.Product.Price)" />
                <input type="number" placeholder="Discount" @bind="model.Product.Discount" />
                <ValidationMessage For="@(() => model.Product.Discount)" />
            </div>
        </div>

    </details>
    <details open>
        <summary>Metadata & Categories</summary>
        <div class="product-metadata">
            <div>
                <select @bind="model.MetaData.DepartmentId">
                    <option value="0">Select Department</option>
                    @foreach (ItemIdNameViewModel department in departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </select>
                <ValidationMessage For="@(() => model.MetaData.DepartmentId)" />
                <select @bind="model.MetaData.CategoryId">
                    <option value="0">Select Category</option>
                    @foreach (ItemIdNameViewModel category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <ValidationMessage For="@(() => model.MetaData.CategoryId)" />
                <select @bind="model.MetaData.SubcategoryId">
                    <option value="0">Select Subcategory</option>
                    @foreach (ItemIdNameViewModel subcategory in subcategories)
                    {
                        <option value="@subcategory.Id">@subcategory.Name</option>
                    }
                </select>
                <ValidationMessage For="@(() => model.MetaData.SubcategoryId)" />
                <select @bind="model.MetaData.BrandId">
                    <option value="0">Select Brand</option>
                    @foreach (ItemIdNameViewModel brand in brands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
                <ValidationMessage For="@(() => model.MetaData.BrandId)" />
            </div>
        </div>
    </details>
    <details open>
        <summary>Configuration & Inventory</summary>
        <div class="product-configuration">
            <lable><input type="number" placeholder="In Stock" @bind="model.Inventory.InStock" /></lable>
            <ValidationMessage For="@(() => model.Inventory.InStock)" />
            <lable><input type="number" placeholder="Weight" @bind="model.Configuration.Weight" /></lable>
            <ValidationMessage For="@(() => model.Configuration.Weight)" />
            <lable><input type="checkbox" @bind="model.Configuration.IsRental" />Rental</lable>
            <lable><input type="checkbox" @bind="model.Configuration.IsRequestQouote" />Request qoute</lable>
            <lable><input type="checkbox" @bind="model.Configuration.IsReturnable" />Returnable</lable>
        </div>
    </details>
    <details open>
        <summary>SEO (Search Engine Optimization)</summary>
        <div class="product-seo">
            <input type="text" placeholder="Meta Keywords" @bind="model.MetaData.MetaKeywords" />
            <ValidationMessage For="@(() => model.MetaData.MetaKeywords)" />
            <input type="text" placeholder="Description" @bind="model.MetaData.MetaDescription" />
            <ValidationMessage For="@(() => model.MetaData.MetaDescription)" />
            <input type="text" placeholder="Meta Title" @bind="model.MetaData.MetaTitle" />
            <ValidationMessage For="@(() => model.MetaData.MetaTitle)" />
            <input type="text" placeholder="Search Engine friendly page name" @bind="model.MetaData.SearchEngineFriendlyPageName" />
            <ValidationMessage For="@(() => model.MetaData.SearchEngineFriendlyPageName)" />
        </div>
    </details>
</EditForm>

@code {
    private ProductFormViewModel model = new();
    private ValidationMessageStore? messageStore;

    private byte departmentPage = 1;
    private List<ItemIdNameViewModel> departments = new();
    private byte categoryPage = 1;
    private List<ItemIdNameViewModel> categories = new();
    private byte subcategoryPage = 1;
    private List<ItemIdNameViewModel> subcategories = new();
    private byte brandPage = 1;
    private List<ItemIdNameViewModel> brands = new();

    private bool continueEditing = false;

    protected override async Task OnInitializedAsync()
    {
        departments.AddRange(await catalogService.GetItemIdNameOnlyPagedAsync<Department>(departmentPage, 100));
        categories.AddRange(await catalogService.GetItemIdNameOnlyPagedAsync<Category>(categoryPage, 100));
        subcategories.AddRange(await catalogService.GetItemIdNameOnlyPagedAsync<Subcategory>(subcategoryPage, 100));
        brands.AddRange(await catalogService.GetItemIdNameOnlyPagedAsync<Brand>(brandPage, 100));
    }

    private async Task CreateProduct(EditContext context)
    {
        messageStore ??= new ValidationMessageStore(context);
        if (model.Validate(messageStore))
        {
            model.MetaData.Status = ProductStatuses.Draft;
            await catalogService.CreateAsync(model.Configuration);
            await catalogService.CreateAsync(model.Inventory);
            await catalogService.CreateAsync(model.MetaData);
            await catalogService.CreateAsync(model.Product);

            if (continueEditing)
                Navigation.NavigateTo($"/console/product/{model.Product.Id}");
            else
                Navigation.NavigateTo("/console/products");
        }
    }
}