@page "/console/products"
@layout ConsoleLayout
@inject ProductService productService
<div class="">
    <h1>Products</h1>
    <button type="button" class="add-new">AddNew</button>
    <button type="button" class="delete">Delete (selected)</button>
</div>
<div class="search"></div>
<table>
    <thead>
        <tr>
            <th>Check Box</th>
            <th>Picture</th>
            <th>Name</th>
            <th>Price</th>
            <th>In Stock</th>
            <th>Published</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductTableViewModel product in products)
        {
            <tr>
                <td><input type="checkbox" /></td>
                <td><img src="" alt="@product.Name" width="50" height="50" /></td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.InStock</td>
                <td>@product.Published</td>
                <td>
                    <a href="/console/product/@product.Id" class="edit">Edit</a>
                    <button type="button" class="delete">Delete</button>
                    <a href="#" class="preview">Preview</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<ProductTableViewModel> products = [];
    private int productPage = 1;

    protected override async Task OnInitializedAsync()
    {
        products.AddRange(await productService.GetPagedAsync(productPage));
        await base.OnInitializedAsync();
    }
}
